@section AddToHead{
    <link href="@Url.Content("~/Content/css/pages/about.css")" rel="stylesheet")" type="text/css" />
}

<div id="content">
		
		<div class="container">
			
			<div class="row">
				
				<div class="grid-6">
					
					<h2><span class="slash">//</span> The Choice in Education</h2>
					
					<p>Working with the more than 16,000 school districts, Educational Resources provides leading, 21st century technology with over 5,000 academic software titles and licensing, peripherals and accessories.  Educational Resources remains your single point of contact for special needs, RTI, manipulatives, and the many hand-held learning devices designed for today’s Digital Natives and the educators that lead them.  We provide value-driven pricing initiatives, reliability and longstanding vendor relationships that return low pricing, unique opportunities, and special savings to our customers. </p>
					
				</div> <!-- /grid-6 -->
				
				
				<div class="grid-6">
					
					<h2><span class="slash">//</span> Leading since 1985</h2>
					
					<p>Educational Resources is the prime resource and largest provider of educational software and technology specializing in Pre-K-12 education.  Our solid history and expertise in uniting educators, leading academic software, licensing, and 21st century learning-centric technology make us the first and last choice for infusing technology with engaging instruction for today’s digitally driven learning environments.</p>
					
				
				</div> <!-- /grid-6 -->
				
			</div> <!-- /row -->
			
			
			<hr class="row-divider" />
			
			
			<div class="row">
				
				<div class="grid-12">
					
					<h2><span class="slash">//</span> The ER Difference</h2>
					
					<p>Our teams of specialists are trained to find the best solution to solve the problem or target a funding initiative.  This means our customers save time and receive the support and the tools designed to help present for bids, grants, and committee/board sessions.  We go beyond taking an order; we support our tech educators in their meetings!</p>
					
				</div> <!-- /grid-12 -->
				
			</div> <!-- /row -->
			
			
			<div class="row">
				
				<div class="grid-4">	
					
					<div class="profile">
						
						<img src="../../Content/img/profiles/profile-1.png" alt="Profile Pic">
						
						<h4>John Doe</h4>
						
						<p class="profile-title">Chief Executive Officer</p>
						
						<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta. Morbi nisi nibh, facilisis a varius id, adipiscing vel purus.</p>
						
					</div> <!-- /profile -->
					
				</div> <!-- /grid-4 -->
				
				
				<div class="grid-4">	
					
					<div class="profile">
						
						<img src="../../Content/img/profiles/profile-2.png" alt="Profile Pic">
						
						<h4>Jane Doe</h4>
						
						<p class="profile-title">Chief Operating Officer</p>
						
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
						
					</div> <!-- /profile -->
					
				</div> <!-- /grid-4 -->
				
				
				<div class="grid-4">		
					
					<div class="profile">
						
						<img src="../../Content/img/profiles/profile-3.png" alt="Profile Pic">
						
						<h4>John Doe</h4>
						
						<p class="profile-title">Chief Technology Officer</p>
						
						<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Vivamus purus arcu, commodo cursus egestas et, dictum lobortis dui. Curabitur at mi eu mi sollicitudin faucibus at at libero.</p>
						
					</div> <!-- /profile -->
					
				</div> <!-- /grid-4 -->
				
			</div> <!-- /row -->
			
		</div> <!-- /container -->
		
	</div> <!-- /content -->